body
{
	margin: 40px auto;
	max-width: 1024px;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding: 0 10px;
}

h1, h2, h3
{
	line-height: 1.2;
}

/* I hate css */
.columns
{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.columns > div
{
	flex: 1 1 50%;
}

.columns > div > img
{
	min-width: 256px;
	width: 100%;
}

ul
{
	text-align: left;
	list-style-type: "→ ";
}

pre
{
	font-size: 16px;
	overflow: auto;
	padding: 16px;
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	white-space: pre-wrap;
}

header
{
	border-bottom: 1px solid #222;
	margin-bottom: 1rem;
}

header ul
{
	display: flex;
	padding-left: .2rem;
	list-style: none;
	gap: 8px;
}

footer
{
	border-top: 1px solid #222;
	margin-top: 1rem;
}

footer ul
{
	padding-left: 1rem;
	list-style: none;
}

#dead-end 
{
	width: 100%;
}
