{{ define "main" }}
  <header>
    {{ partial "header.html" . }}
  </header>
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  <ul>
  {{ range .Pages }}
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}

    <li>
      <p>
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        <em> - <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></em>
      </p>
      <div class="summary">
        {{ .Content | strings.Truncate 256 }}
      </div>
    </li>
  {{ end }}
  </ul>

{{ end }}


